* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-page {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 99vw;
  grid-template-areas:
    "header-nav"
    "availability"
    "main"
    "section-form"
    "photogallery"
    "footer";
}

.header-nav {
  grid-area: header-nav;
  display: grid;
  grid-template-columns: 99vw;
  grid-template-rows: 15vh 30vh 20vh 20vh;
  height: 85vh;
  background-image: url(/assets/imgs/Lifeisfun_r.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-content: center;
}

.header-nav-item-row1 {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  align-content: center;
  font-size: 2vh;
}

#header-nav-item-row1-logo {
  height: 15vh;
}

.header-nav-item-row1-1 {
  padding-right: 2vw;
  font-size: 3vh;
  text-align: center;
  align-content: end;
  text-decoration: none;
  font-size: 2vh;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-item {
  margin: 0 1.4vw;
  font-weight: 500;
  font-size: 2.4vh;
}

.nav-link {
  text-decoration-line: none;
}

.header-nav-item-row2 {
  font-family: "Koh Santepheap", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14vh;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  align-content: end;
  grid-area: 2 / 1 / span 1 / span 8;
}

.header-nav-item-row3 {
  font-family: "Koh Santepheap", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14vh;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  align-content: center;
  grid-area: 3 / 1 / span 1 / span 8;
}

.header-nav-item-row4 {
  font-family: "Kiwi Maru", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 6vh;
  color: rgb(255, 255, 255);
  text-align: center;
  align-content: start;
  grid-area: 4 / 1 / span 1 / span 8;
}

/* header {
    background-image: url(/assets/imgs/Lifeisfun.png);
    background-position: center;
    background-repeat: no-repeat;
  } */

.availability {
  grid-area: availability;
  height: 15vh;
  background-color: rgba(97, 94, 94, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  font-size: 3rem;
}

.btn {
  font-size: 2rem;
}

.dropdown-menu {
  background-color: grey;
}

.submit {
  background-color: #c5bd08;
  border: none;
  color: white;
  border-radius: 2.37rem;
  padding: 1.5rem;
}

/* .main {
  grid-area: main;
  display: grid;
  grid-template-columns: 99vw;
} */

.main-item-1 {
  background-color: #000000;
  height: 15vh;
  text-align: center;
  align-content: center;
}

.submit:hover {
  color: #c5bd08;
  background-color: white;
}

h3 {
  font-size: 5rem;
}

#events {
  background-color: rgba(97, 94, 94, 0.993);
}

#suites {
  background-color: rgba(29, 28, 28, 0.938);
}

#dining {
  background-color: rgba(97, 94, 94, 0.993);
}

#weddings {
  background-color: rgba(29, 28, 28, 0.938);
}

p {
  color: white;
  font-size: 2rem;
}

.section-form {
  background-image: url(../imgs/beachform_r.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  width: 100vw;
  padding: 0rem 30rem;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: max-content;
}

h4 {
  font-size: 3rem;
}

form {
  color: white;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* text-align: center; */
  /* align-self: center; */
  align-items: center;
  justify-content: space-evenly;
  /* justify-items: center; */
  background-color: rgba(217, 217, 217, 0.6);
  padding: 4rem 9rem;
  margin: 2rem 4rem;
  width: 60.5rem;
  font-size: 2rem;
}

input {
  color: #9b0b0b;
  background: none;
  border: none;
  border-bottom: 3px solid #fff;
}

form > input {
  line-height: 2.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.terms {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

#error {
  border-color: red;
  color: red;
}



.Carousel{
  width: 100%;
  margin: 50px 60px;
  background-color: rgb(30, 30, 30);
}
.Carousel h2{
  color: #fff;
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 24px;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

/* images */

.slick-list{
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5s ease-in-out;
}
.slick{
  position: relative;
  width: 375px;
  padding: 0 19px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}


.slick a img{
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  transition: .3s ease-in-out;
}
.slick a img:hover{
  opacity: .85;
}

/* buttons */

.slick-arrow{
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
  border: 0;
  cursor: pointer;
}
.slick-arrow:focus{
  outline: 0;
}
.slick-arrow svg{
  width: 12px;
  height: 100%;
  color: rgba(0,0,0,.7);
}
.slick-prev{
  left: 0px;
}
.slick-next{
  right: 0px;
}





footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 30% 40% 5% auto;
  background-color: #d9d9d9;
  height: 25vh;
  text-align: center;
}

.footer-item-row1 {
  align-content: center;
  font-size: 2.4vh;
}

.item-footer {
  margin-left: 0;
  margin-right: 0;
  padding: 4rem;
}

.list-footer {
  font-size: 2.4 vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-item-row2 {
  align-content: center;
}

iframe {
  width: 35vw;
  height: 20vh;
}

.footer-item-row3 {
  align-content: center;
  padding: 4rem;
}

.item-redes-row1 {
  padding-left: 30px;
  align-content: center;
}

.item-redes-row2 {
  align-content: center;
}

#list-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  font-size: 4vh;
}

.fa-brands {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.fa-solid {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 96px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
}

p {
  color: white;
  margin: 3rem;
}
/**********************/
.caracteristicas {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 600px 50px 600px;
  grid-template-rows: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 3.5rem 3rem;
}
.caracteristicas h3 {
  text-align: center;
  color: rgba(197, 189, 8, 0.86);
  font-size: 3rem;
  font-weight: bold;
}

.caracteristicas img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
